@page
@model AnimalViewModel
@{
    ViewData["Title"] = "Animals";
}

<h2>Animal Information</h2>

@if (Model.Dog != null)
{
    <div>
        <h3>Dog</h3>
        <p>Name: @Model.Dog.Name</p>
        <p>Sound: @Model.Dog.Sound</p>
        <button onclick="makeSound('dog')">Make Sound</button>
    </div>
}

@if (Model.Cat != null)
{
    <div>
        <h3>Cat</h3>
        <p>Name: @Model.Cat.Name</p>
        <p>Sound: @Model.Cat.Sound</p>
        <button onclick="makeSound('cat')">Make Sound</button>
    </div>
}

<script>
    function makeSound(animal) {
        $.ajax({
            type: "POST",
            url: "/Animal/MakeSound",
            data: { animal: animal },
            success: function (response) {
                alert(response);
            }
        });
    }
</script>